html {
    display: flex;
    min-height: 100vh;
}
body {
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: black;
    color: white;
}

a {
    color: white;
    text-decoration: underline;
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
}

a:hover,
a:active {
    opacity: 1;
}

section#card {
    text-align: center;
}

h1 {
    font-weight: 900;
    letter-spacing: 0.4em;
    text-indent: 0.4em;
    font-size: 13vmax;
    margin: 0;
    position: relative;
}

@keyframes noise-anim {
    0% { clip-path: inset(35% 0 45% 0); }
    5% { clip-path: inset(6% 0 43% 0); }
    100% { clip-path: inset(59% 0 25% 0); }
}

h1::after {
    content: "404";
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% { clip-path: inset(47% 0 45% 0); }
    5% { clip-path: inset(92% 0 5% 0); }
    100% { clip-path: inset(90% 0 5% 0); }
}

h1::before {
    content: "404";
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    animation: noise-anim-2 15s infinite linear alternate-reverse;
}