name: link checker

on: [push]

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: lycheeverse/lychee-action@v1
        with:
          args: --verbose --"localhost" ./public

